.ej1 {
    background-color: blue;
    margin: 20px;
    padding: 15px;
}

.ej2 {
    background-image:url(/material-ejercicio-4/img/baldkurapika.jpg) ;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
}

.ej3 {
    border: solid 2px;
    border-color: red;
    border-radius: 10px;
}

.ej4 {
    font-weight: bold;
    border: solid 2px;
}

.borde4 {
    margin: 5px;
}

.ej5 {
    background-color: yellow;
    text-align: center;
}

.ej6 {
    border-width: 5px;
    border-style: double;
    border-color: purple;
    background-color: gold;
    margin: 40px;
}

.ej7 {
    background-image:url(/material-ejercicio-4/img/baldkurapika.jpg) ;
    background-repeat: no-repeat;
    background-position:right bottom;
}

.ej8 {
    background-image:url(/material-ejercicio-4/img/baldkurapika.jpg) ;
    background-repeat:repeat-y;
    background-size: 50%;
}

.ej9 {
    background-color: brown;
    background-image:url(/material-ejercicio-4/img/baldkurapika.jpg) ;
    background-repeat:repeat-x ;
}

.btn1 {
        display: inline-block;
        padding: 10px 20px;
        background-color: #002d5e;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid #002d5e;
        margin-top: 5px;
        margin-bottom: 5px;
}

.ej10 {
    width: 50%;
    border: dotted 3px green;
    padding: 25px;
}